### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

### Intellij ###
.idea/*
.run/*

### misc ###
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.cert
server/.cert
web/.cert
